<div class="animate fadeIn fast ">
    <h1>Trenes en Argentina</h1>
    <hr>
    <h3>Recorridos</h3>
    <hr>
    <br>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4 animate fadeIn fast">
          <div class="card h-100">
            <img src="assets/img/Arg.png" class="card-img-top" alt="..." width="25px" height="200px">
            <div class="card-body">
              <h5 class="card-title">Trenes regionales y de Larga Distancia</h5>
              <p class="card-text"></p>
              <button type="button" (click)="navegarTrenLargaDistancia()" class="btn btn-outline-primary" style="height:45px; width:85px " > Ir</button>
            </div>
          </div>
        </div>
        <div class="col mb-4 animate fadeIn fast">
          <div class="card h-100" >
            <img src="assets/img/BsAs.jpg" class="card-img-top" alt="..." width="200px" height="200px">
            <div class="card-body">
              <h5 class="card-title">Area Metropolitana</h5>
              <p class="card-text"></p>
              <br>
            <button  type="button" (click)="navegarTrenMetropolitana()" class="btn btn-outline-primary" style="height:45px; width:85px" > Ir</button>
            </div>
          </div>
        </div>
      </div>
</div>

