<div class="animate fadeIn fast ">

<h1>Servicios regionales y de larga distancia</h1>
<hr>
<br>
<p>Los servicios ferroviarios regionales y de larga distancia en Argentina conectan un total de doce provincias mediante 6.007 km. de vías y 126 estaciones.</p>    
<div class="texto">
    <img src="assets/img/mapaServicioLargaDistancia.png" width="45%"  height="45%" hspace="5" vspace="5" style="float: left " /><br> 

<ul style="float: left;">
<li>Buenos Aires - Mar del Plata</li>
<li>Buenos Aires - Bragado</li>
<li>Buenos Aires - Junín</li>
<li>Buenos Aires - Rosario</li>
<li>Buenos Aires - Córdoba</li>
<li>Buenos Aires - Tucumán</li>
<li>Buenos Aires - Bahía Blanca</li>
<li>Servicio regional Chaco</li>
<li>Servicio regional Salta</li>
<li>Villa María - Córdoba</li>
<li>Servicio regional Neuquén</li>
<li>Servicio regional Córdoba</li>
<li>Servicio regional Entre Ríos</li>
<li>Posadas - Encarnación</li>
</ul>

</div>

<div class="boton">
<button type="button" (click)="navegarAnterior()" class="btn btn-dark"  > Volver</button>
</div>
</div>

