<div class="animation fadeIn fast">
<div class="jumbotron">
    <h1 class="display-4">Bienvenidos</h1>
    <p class="lead">Aqui encontraras informacion acerca de los trenes Argentinos</p>
    <hr class="my-4">
    <br>
    <h4>Breve historia</h4>
    <p>En 1857 se inauguró la primera línea férrea, que en un principio pertenecía a un grupo de particulares que conformaban la Sociedad Camino de Hierro del Ferrocarril Oeste y que contaba con el financiamiento de la provincia de Buenos Aires, que en aquel entonces...</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Leer mas..</a>
  </div>

</div>